NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://cmpc:cmpc@localhost:5432/cmpc_libros"

JWT_SECRET="dev-secret-must-be-at-least-32-chars!!"
JWT_EXPIRES_IN="7d"

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=cmpc
MINIO_SECRET_KEY=cmpc1234
MINIO_BUCKET=cmpc-libros
MINIO_USE_SSL=false
MINIO_PUBLIC_URL=http://localhost:9000

CORS_ORIGIN=http://localhost:5173

# Seed
SEED_SUPER_ADMIN_EMAIL=admin@cmpc.cl
SEED_SUPER_ADMIN_PASSWORD=Admin1234!
SEED_ADMIN_EMAIL=editor@cmpc.cl
SEED_ADMIN_PASSWORD=Editor1234!
SEED_USER_EMAIL=lector@cmpc.cl
SEED_USER_PASSWORD=Lector1234!
